<div id="measurements">

  <%= nerd_facts_box_for "Eigenvector centrality" do |type| %>
    <%= popover_title type, title: "Best recommendation" %>
    <%= pacman_loading_animation %>
    <ol class="highscore-list"></ol>
  <% end %>

  <%= nerd_facts_box_for "Betweenness centrality" do |type| %>
    <%= popover_title type, title: "Must see movie" %>
    <%= pacman_loading_animation %>
    <ol class="highscore-list"></ol>
  <% end %>

  <%= nerd_facts_box_for "Closeness centrality" do |type| %>
    <%= popover_title type, title: "Common with all other movie" %>
    <%= pacman_loading_animation %>
    <ol class="highscore-list"></ol>
  <% end %>

  <%= nerd_facts_box_for "Degree centrality" do |type| %>
    <%= popover_title type, title: "Movie with most specific similarities" %>
    <%= pacman_loading_animation %>
    <ol class="highscore-list"></ol>
  <% end %>

  <%= nerd_facts_box_for "Clustering coefficient" do |type| %>
    <%= popover_title type, title: "The movies which are very similar" %>
    <%= pacman_loading_animation %>
    <ol class="highscore-list"></ol>
  <% end %>
</div>
