<div id="theater-container">
  <div id="graph"></div>
  <div id="info-container">
    <%= render "modal" %>
  </div>
  <div id="nerd-facts">
    <%= render 'nerd_facts' %>
  </div>
  <div id="tutorial">
    <%= render "tutorial" %>
  </div>
  <div class="top-curtain"></div>
  <div class="right-curtain"></div>
  <div class="left-curtain"></div>
  <div class="seats"></div>

  <%= form_tag '/', :method => 'get', :class => "theater-dashboard", :id => 'movie-form' do %>
      <%= text_field_tag :title,
        nil,
        :id => 'title-input',
        :placeholder => "A movie you like...",
        :autocomplete => 'off',
        :tabindex => 1
      %>
  <% end %>
  <div id="hover-container">
    <%= render 'hover' %>
  </div>
</div>
