= link_to "Are you lost? Start tutorial!", "#", id: "start-tutorial", class: "btn"

#tutorial-text
	.text#step-1
		= render "dashboard/tutorial/step_1"
	.text#step-2
		= render "dashboard/tutorial/step_2"
	.text#step-3
		= render "dashboard/tutorial/step_3"
	.text#step-4
		= render "dashboard/tutorial/step_4"
	.text#step-5
		= render "dashboard/tutorial/step_5"
	.text#step-6
		= render "dashboard/tutorial/step_6"
	
	
.actions
	= link_to "Skip step", "#", id: "next-step", class: "btn btn-danger"